// COLOR PALETTE

$white: #FFF;

$ice-white: #F5F7FA;

$gray: #A09FA7;

$green: #20ad96;

$btn-hover-bg: #3F3A64;

$footer-bg: #181621;

// FONTS

$serif: 'Nanum Myeongjo', serif;

$sans-serif: 'Comfortaa', sans-serif;