// COLOR PALETTE

$white: #FFF;

$green: #20ad96;

$btn-hover-bg: #3F3A64;

$footer-bg: #181621;

$footer-txt: #A09FA7;

// FONTS

$serif: 'Nanum Myeongjo', serif;

$sans-serif: 'Comfortaa', sans-serif;